<h1>Shoe Brands</h1>
<hr>

<% if @brands == [] %>

<p>There are currently no brands in the database</p>

<% else %>

<h3>Avaiable Shoe Brands:</h3>
<ul>

  <% @brands.each() do |brand| %>

  <li><a href="/brands/<%= brand.id() %>"><%= brand.name() %> - $<%= sprintf("%.2f", brand.price().to_i) %></a></li>

  <% end %>

</ul>

<% end %>
<h3> Add an brand: </h3>
<form action="/brands" method="post">
  <div class="form-group">
    <label for="brand_name">Brand Name:  </label>
    <input type="text" name="brand_name" id="brand_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="brand_price">Price:  $</label>
    <input type="number" min="0.01" step="0.01" name="brand_price" id="brand_price" class="form-control">
  </div>
  <button class="btn btn-success" type="submit">Add Brand</button>
</form>
