<!DOCTYPE html>
<html>
  <head>
    <title>Employees and Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <br>
    <div class="container">
      <hr>
      <br>
      <div class="well">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-success"><a href="/brands" role="button">View Shoe Brands</a></button>
            <button type="button" class="btn btn-primary" role="button"><a href="/stores" role="button">View Stores</a></button>
        </div>
      </div>
  </div>

  </body>
</html>
